h1{
    color:pink
}
.header{
    background-color:#F86263;
    display:flex;
    justify-content: space-between
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color:#91DAD1;
}

h2,p{
    text-align: center;
}